html {
    overflow-y: scroll;
}

html, body {
	font-family: helvetica, arial, verdana, sans-serif;
	color: #222;
	background: #efefef;
}

h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans","Helvetica Neue", Arial, Helvetica, sans-serif;	
}

#debug form {
	background: #999;
	color: white;
	padding: 6px;
	border-radius: 4px;
	font-size: 12px;
	margin-top: 40px;
}

#debug form label {
	cursor: pointer;
}

a {
	color: #009;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	background: white;
	padding: 10px;
}